body{
	background-image: url("background.jpg");
  background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 200% ;
	background-position: center;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 14px;
  text-align: center;
  right: -20%;

	height: 100vh;
  overflow: hidden;

}



.banner{
  position: relative;
  background: none;
  left: -21%;
}

.x {
  background: #fff;
  opacity: 0.95;
  width: 60%;
  height:inherit;
  padding-left: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.torzs{
margin-right: 40px;
}

.wrap {
  display: inline-block;
  margin-top: 20px;
}

/*.decor {
  background: #674ea7;
  background: -webkit-linear-gradient(left, #c0c0c0 50%, #674ea7 50%);
  background: -moz-linear-gradient(left, #c0c0c0 50%, #674ea7 50%);
  background: -o-linear-gradient(left, #c0c0c0 50%, #674ea7 50%);
  background: linear-gradient(left, #c0c0c0 50%, #674ea7 50%);
  background-size: 50px 25%;
  padding: 2px;
  display: block;
  width: 150%;
  margin-left: -30%;
}*/

a {
  color: #fff;
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
  position: relative;
  background: #6a0d83;
  background-image: -webkit-linear-gradient(bottom, #ee5d6c 2%, #6a0d83 70%);
  background-image: -moz-linear-gradient(bottom, #ee5d6c 2%, #6a0d83 70%);

  text-align: center;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 120%;
  margin-left: -15%;
}

/* prime */
ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #fff;
  height: 30px;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {

  color: #3f074e;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #ee5d6c;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  transition: 0.5s;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

img{
	float: right;
	margin-right: 20px;
}

.line {
  border-top: 3px solid white;
  width: 100%;
  border-radius: 5px;
}

.text
{
	float: left;
}

.logo
{
	float: right;
	padding-right: 20px;
}

h1
{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-size: 24px;
  text-align: center;
	color: #ee5d6c
}

.footer
{

	text-align: center;
}


----


.login-form {
  background: #fff;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
}
.login-form .content {
  padding: 35px;
  text-align: center;
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.login-form .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:focus {
  border-color: #222;
}
.login-form a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.login-form .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.login-form .action button:hover {
  background: #d8d8d8;
}
.login-form .action button:nth-child(2) {
  background: #ee5d6c;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
  background: #6a0d83;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white); /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}

.container { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; }


.mainpage_text
{
	float: right;
}

.szoveg a:link, .szoveg a:visited {
    color: #ee5d6c;
    font-weight: normal;
    font-style: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
.szoveg a:hover {
    color: #6a0d83;
    font-size: 15px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    cursor: default;
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
}
